.calendarContainer>div{
    width: 55vw;
}

.calendarContainer{
    justify-content: center;
}



.cardContainer {
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px 60px 20px 20px;
  }

.card {
width: 100%;
border-bottom: 5px solid #ddd;
/* border-radius: 8px; */
/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
padding: 16px 16px 16px 16px;
background-color: #fff;
}

.addressForm {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; /* 반응형 배치를 위해 줄바꿈 허용 */
}

.buttonWrap {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; /* 반응형 배치를 위해 줄바꿈 허용 */
    justify-content: center;
}

.label {
    width: 200px;
    font-weight: bold;
    font-size: 0.875rem;
    display: grid;
    align-items: center;
}

.textInput {
    font-size: 0.875rem;
    flex: 1;
    min-width: 200px; /* 최소 크기 지정 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    padding: 8px 12px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* 버튼이 작아지지 않도록 설정 */
}

.button:hover {
    background-color: #2980b9;
}

.delete {
    background-color: red;
}

.delete:hover {
    background-color: rgba(163, 16, 16, 0.87);
}

.guide {
    color: #999;
    margin-top: 5px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .row {
    flex-direction: column; /* 화면이 좁아지면 세로로 정렬 */
    }

    .button {
    width: 100%; /* 작은 화면에서는 버튼이 가득 차게 */
    }
}
