.header {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

.content {
	display: flex;
	margin: 0 auto;
}

.content1 {
	display: flex;
	position: relative;
	margin-right: 1rem;
}

.icon {
	margin-right: 2rem;
}

.icon:hover {
	cursor: pointer;
}

.title {
	width: 48px;
	text-align: center;
}

.title:hover {
	cursor: pointer;
}

.label {
	font-weight: bold;
}