.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentLeft {
	display: flex;
	width: 20%;
	justify-content: start;
	padding-left: 1rem;
}

.contentCenter {
	display: flex;
	width: 60%;
	justify-content: center;
}

.contentRight {
	display: flex;
	width: 20%;
	justify-content: end;
	padding-right: 1rem;
}

.iconWrap {
	min-width: 48px;
}

.icon {
	margin-right: 0rem;
}

.icon:hover {
	cursor: pointer;
}

.title {
	text-align: center;
}

.title:hover {
	cursor: pointer;
}

.label {
	font-weight: bold;
}